* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b3131;
}

.gallery {
  display: flex;
  gap: 10px;
}

.div_1 {
  position: relative;
}

img {
  width: 25vw;
  height: 25vw;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

img.scale {
  transform: scale(1.5);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  border: none;
  background: none;
  color: white;
  display: none;
  cursor: pointer;
}

.div_1:hover .close-btn {
  display: block;
  color: black;
}
